<div class="servers-wrapper">
  <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
    [value]="tempServerName"
  />
  <button
    class="btn btn-primary"
    type="button"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >Add Server
  </button>
  <p>{{serverCreationStatus}}</p>
  <p>Server name:{{ serverName }}</p>
  <hr/>
  <h3>TwoWayDatabinding</h3>
  <input type="text" [(ngModel)]="twoWayBindingText"/>
  <button
    class="btn bg-body"
    type="button"
        (click)="clearTwoWayBindingText()">
    Clear Input
  </button>
  <button
    class="btn btn-primary"
    (click)="setText()"
  >Add Text
  </button>
  <p>{{ twoWayBindingText }}</p>
  <p>{{ resultText }}</p>
  <app-server></app-server>
  <app-server></app-server>
  <hr/>
  <div class="row flex-column p-5">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="username"
    >
    <button
      class="btn btn-primary"
      type="button"
      (click)="clearUsername()"
      [disabled]="!username.length"
    >Clear username
    </button>
  </div>
  <p class="mt-2">Username is {{ username }}</p>

</div>
